<h1>{{ instance.depo.ConfigItem }}</h1>

<form action="{% url 'depo:ConfigItem' instance.ConfigItem.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        {% for choice in instance.poll.choice_set.all %}
            <div class="radio">
                <label for="choice_{{ choice.id }}">{ choice.choice_text }}</label>
                <input type="radio" name="choice_{{ choice.id }}" value="{{ choice.id }}" id="choice_{{ choice.id }}">
            </div>
        {% endfor %}
    </div>
    <input type="submit" value="Save" />
</form>